name: Build and deploy
on:
  push: {}

jobs:
  build:
    name: Build
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: aarch64
            runs-on: ubuntu-24.04-arm
            BASEIMAGE: "quay.io/pypa/manylinux_2_28_aarch64@sha256:38a57eb409aae39c75ba069fb51ad04ffe150d3c1547efe8cfdf47b3b7e3a60f"
            PYTHON_VERSION: "3.14"
          - arch: x86_64
            runs-on: ubuntu-24.04
            BASEIMAGE: "quay.io/pypa/manylinux_2_28_x86_64@sha256:a658c70bfc08efa30156ef84775cfea959662cf0be52abab50b3b36ea8906784"
            PYTHON_VERSION: "3.14"
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config: .github/buildkit.toml
      - name: build image
        run: |
          docker build \
            --tag "${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_SHA}" \
            --build-arg "BASEIMAGE=${{ matrix.BASEIMAGE }}" \
            --build-arg "PYTHON_VERSION=${{ matrix.PYTHON_VERSION }}" \
            .
      - name: push image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin
          docker tag \
            "${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_SHA}" \
            "ghcr.io/${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_REF/#refs\/tags\//}"
          docker push "ghcr.io/${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_REF/#refs\/tags\//}"
