name: Build and deploy
on:
  push: {}

jobs:
  build:
    name: Build
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: aarch64
            runs-on: ubuntu-24.04-arm
            BASEIMAGE: "quay.io/pypa/manylinux_2_28_aarch64@sha256:dd6d7c36e778d63ca736caca0165533daa25ddf42ab781962513ae5d24b13e73"
            PYTHON_VERSION: "3.14"
          - arch: x86_64
            runs-on: ubuntu-24.04
            BASEIMAGE: "quay.io/pypa/manylinux_2_28_x86_64@sha256:36887edfecddee55fee72cb68591d2f15e8f0daed9a3c6b176e3610f792f4c64"
            PYTHON_VERSION: "3.14"
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config: .github/buildkit.toml
      - name: build image
        run: |
          docker build \
            --tag "${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_SHA}" \
            --build-arg "BASEIMAGE=${{ matrix.BASEIMAGE }}" \
            --build-arg "PYTHON_VERSION=${{ matrix.PYTHON_VERSION }}" \
            .
      - name: push image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin
          docker tag \
            "${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_SHA}" \
            "ghcr.io/${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_REF/#refs\/tags\//}"
          docker push "ghcr.io/${GITHUB_REPOSITORY}-${{ matrix.arch }}:${GITHUB_REF/#refs\/tags\//}"
